body {
    background-color: black;
}

.content-container {
    font-family: Helvetica;
    background-color: #1F2937;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header div {
    flex: 1;
    justify-content: space-between;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    width: 100px;
}

.header-links div { 
   flex: 0 1 auto;  
}

.cover-page {
    display: flex;
    width: 80%;
    margin: 100px auto 120px;
    justify-content: space-between;

}
.cover-text{
    width: 45%;
}

.img-cover {
    display: flex;
    width: 45%;
    background-color: grey;
    justify-content: center;
    align-items: center;
}

.img-cover p {
    color: white;
}

.cover-text h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.cover-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.cover-text button {
    background-color: #3882F6;
    color: white;
    border-radius: 12px ;
    padding: 12px 35px;
    font-weight: bolder;
    font-size: 18px;
    border: 0px;
}

.content-1 {
    background-color: white;
    text-align: center;
    padding: 50px 200px 100px;
}
.content-1 h1{
    font-size: 36px;
    font-weight: bolder;  
}

.content1-box {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.img-and-text-box {
    display: flex;
    flex-direction: column;
}

.content-img {
    width: 170px;
    height: 180px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    flex: 1 1 auto;     
}

.img-and-text-box p{
    width: 170px;
}

.quote {
    background-color: #E5E7EB;
    
}

.quote div {
    padding: 100px 330px;
    margin: 0;
    
}

.quote div :nth-child(1) {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote div :nth-child(2) {
    font-size: 30px;
    font-weight: bolder;
    color: #1F2937;
    text-align: right;
    
    
}
.call-to-action {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action .content {
    color: #E5E7EB;
    height: 80px;
    width: 900px;
    margin: 100px;
    padding: 50px 70px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    border-radius: 25px;
    align-items: center;
}

.content button {
    font-weight: bolder;
    color: white;
    padding: 10px 30px;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: white;
    margin: 40px;
}